@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  min-height: 100vh;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  will-change: background-color;
  @apply bg-white-0  dark:bg-black-200;
  @apply text-black-400 dark:text-black-300;
  @apply transition-all duration-normal;
}
